body{
    background-color: rgb(24, 24, 24);
}
.portada{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    height: 45em;
}
#texto{
    margin-top: 15%;
    color: rgb(240, 240, 240);
    font-family: 'Knewave';
}
#texto p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#nickname{
    font-size: 0.7em;
}
.nav-menu a{
    color: white;
    font-family: 'Knewave';
    font-size: 1.5em;
}
.nav-menu a:hover{
    color: rgb(199, 199, 199);
    border-bottom: solid 2px rgb(199, 199, 199);
}
.titles{
    color: white;
    font-family: 'Knewave';
}
#skillsArrow{
    border: none;
    background-color: none;
}