body{
    margin: 0;
    padding: 0;
    background-color: #212529;
}
#particles-js{
    width: 100%;
    height: 100vh;
}
a{
    cursor: pointer;
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
}
.currentlyScreen{
    margin: 5%;
    max-width: 80%;
}
#texto{
    font-family: 'Knewave';
    width: 90%;
    margin: 15% 20% 0% 2.5%;
    padding-bottom: 5%;
}

#texto h5{
    font-family: 'Source Code Pro', monospace;
    color: #b4b4b4;
}


.blueBtn{
    color: rgb(0, 219, 248);
    background-color: rgb(8, 8, 8);
    border: 2px solid rgb(0, 219, 248);
    font-size: 100%;
    padding: 1% 3% 1% 3%;
    font-family: 'Source Code Pro', monospace;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear(0.475, 0.885, 0.32, 1.275);
}

.blueBtn:hover{
    color: rgb(2, 2, 2);
    background-color: rgb(0, 219, 248);
}

.greeting{
    font-size: 6em;
    color: rgb(0, 219, 248);
    font-family: 'Passion One', cursive;
}

.greeting span:hover{
    color: aliceblue;
}

.nav-menu a{
    color: white;
    font-size: 1.5em;
    font-family: 'Passion One', cursive;
}
.nav-menu a:hover{
    color: rgb(0, 219, 248);
}

.titles{
    color: white;
    font-family: 'Passion One', cursive;
    text-align: center;
    font-size: 4em;
    color: rgb(0, 219, 248);
}

.titles span:hover{
    color: aliceblue;
}

.description{
    color: aliceblue;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    text-align: center;
}

.redes a{
    color: white;
}

.redes a:hover{
    color: rgb(0, 219, 248);
}

form{
    font-family: 'Source Code Pro', monospace;
}

#contactContainer{
    margin: 8%;
    margin-top: 12%;
}
#aboutContainer{
    margin: 5%;
    margin-top: 10%;
}
.portada{
    margin: 0%;
}
#floatingMessage{
    min-height: 5em;
}