{% extends "base.html" %}

{% block head %}
<title>David A. Vargas</title>
{% endblock %}

{% block content %}
<div class="container" id="contactContainer">
    <h1 class="titles">
      <span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span>
      <span>m</span><span>e</span>
    </h1>
    <div class="container">
      <p class ="description">
        I’m interested in freelance opportunities – especially ambitious or large projects. However, 
        if you have other request or question, don’t hesitate to use the form.
      </p>
    </div>

    <div class="container">
      <form action="/contact" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="nombrecontacto" placeholder="Name" name="name">
          </div>
          <div class="col">
            <input type="email" class="form-control" id="emailcontacto" placeholder="Email" name="email">
          </div>
        </div>
        <div class="mb-3">
          
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="subjectcontacto" placeholder="Subject" name="subject">
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Message" id="floatingMessage" name="message"></textarea>
            <label for="floatingTextarea">Message</label>
          </div>
        </div>
        <div class="mb-3">
          <button type="submit" class="blueBtn">Send</button>
        </div>
      </form>
      {% for message in messages %}
      <div class="alert alert-info" role="alert" style="text-align: center;">
        {{message}}
      </div>
      {% endfor %}
    </div>

</div>

{% endblock %}