{% extends "base.html" %}

{% block head %}
<title>David A. Vargas</title>
{% endblock %}

{% block content %}
<div class="container" id="texto">

  <div class="container">
    <h1 class="greeting" data-aos="fade-zoom-in"data-aos-easing="ease-in-back"data-aos-delay="300" data-aos-offset="0" data-aos-duration="500">
    <span>H</span><span>i</span><span>,</span>
    </h1>
    <h1 class="greeting" data-aos="fade-zoom-in"data-aos-easing="ease-in-back"data-aos-delay="700" data-aos-offset="0" data-aos-duration="1500">
     <span>I</span><span>'</span><span>m</span>
     <span>D</span><span>a</span><span>v</span><span>i</span><span>d</span>
     <span>V</span><span>a</span><span>r</span><span>g</span><span>a</span><span>s</span>
    </h1>
    <h5 data-aos="fade-right" data-aos-duration="3000">
      Business analyst / Computer engineer
    </h5>
  </div>

  <div class="container" data-aos="fade-zoom-in"data-aos-easing="ease-in-back"data-aos-delay="700"
  data-aos-offset="0" data-aos-duration="1500">
    <a href="/contact">
      <button class="blueBtn">
        Contact me
      </button>
    </a>
  </div>

</div>
{% endblock %}